# Arquivos gerados pelo Angular e ferramentas de build
/.angular/
/dist/
/www/
/coverage/
/.firebase/


/node_modules/

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


.env
.env.local
.env.*.local


.tmp/
.npm
*.tsbuildinfo

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.iml

# Arquivos de sistema operacional
.DS_Store
Thumbs.db